footer {
  background: #df61ca;
  padding: 20px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-top: 100px;
}

footer p {
  color: #fff;
}

.links-rodape a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}

.links-rodape a:hover {
  text-decoration: underline;
}