
.img-container {
    text-align: center; 
  }
  
  .img-container img {
    border-radius: 50%; 
    width: 25%;
  }

  .text-center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da viewport (janela do navegador) */
    margin: 0;
  }

  
  