
.img-container {
    text-align: center; 
  }
  
  .img-container img {
    border-radius: 50%; 
    width: 60%;
  }

 

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .centro {
    max-width: 600px; 
    text-align: justify; 
    color:#dc11d2bc;
    font-size: 16px;

  }
  
 